h3 {
    margin-bottom: 10px;
}

table {
    border: 1px solid rgb(155, 155, 155);
    padding: 15px;
    padding-top: 0;
}

tr, th {
    text-align: center;
    padding: 20px;
}

.progects {
    margin-left: 100px;
}

.title-progect {
   text-align: center;
   font-weight: bold;
} 

.new-progect,
.edit-progect {
    display: flex;
    flex-direction: row;
    align-items: center;
}

label {
    padding: 10px;
    text-align: center;
    width: 25%;
}

input[type="text"] {
    padding: 7px;
}

#btnSave,
#btnEdit {
    width: 25%;
    margin: 5px;
    padding: 5px;
}

.name-progect:hover {
    background-color: rgb(219, 219, 219);
    border-radius: 5px;
    transform: scale(1.1, 1.1);
}

