<div class="progects">
    <h3>Progects</h3>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of progects">
                <td class="name-progect" (click)="navigate(path); getIdx(item);"> {{ item.name }}
                </td>
                <td> {{ item.description }} </td>
                <td> <button (click)="editProgect(item)">Edit</button><button
                        (click)="removeProgect(item)">Delete</button></td>
            </tr>
        </tbody>
    </table>

    <form *ngIf="!toggleEditProgect" id="formEditProgect" (ngSubmit)="onSubmitEditProduct($event)">
        <p class="title-progect">Edit progect</p>
        <div class="edit-progect">
            <label for="editNameProgect">Name</label>
            <input id="editNameProgect" type="text" [(ngModel)]="editingProject.name" name="editName" placeholder="Progect name">

            <label for="editDescriptionProgect">Description</label>
            <input id="editDescriptionProgect" type="text" [(ngModel)]="editingProject.description" name="editDescription"
                placeholder="Progect description">

            <input id="btnEdit" type="submit" value="Save" (click)="onSubmitEditProduct($event)">
        </div>
    </form>

    <form *ngIf="toggleEditProgect" id="formCreateProgect" (ngSubmit)="onSubmitCreateProduct($event)">
        <p class="title-progect">Create new project</p>
        <div class="new-progect">

            <label for="nameProgect">Name</label>
            <input id="nameProgect" [(ngModel)]="inputNameProgect" name="inputNameProgect" type="text"
                placeholder="Progect name">

            <label for="descriptionProgect">Description</label>
            <input id="descriptionProgect" [(ngModel)]="inputDescriptionProgect" name="inputDescriptionProgect"
                type="text" placeholder="Progect description">

            <input id="btnSave" type="submit" value="Save" (click)="onSubmitCreateProduct($event)">
        </div>

    </form>
</div>