<div class="tasks">
    <h3>{{project.name}}</h3>

    <div class="title-addBtn">
        <h4>Tasks</h4>
        <button class="addBtn" type="button" (click)="setAddForm()"> Add New Task</button>
    </div>

    
    <mat-table class="mat-table" [dataSource]="dataSource" class="mat-elevation-z8">
    
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell class="task-name" *matCellDef="let element; let id = index"> {{element.name}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
            <mat-cell class="task-description" *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="comments">
            <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
            <mat-cell class="task-description" *matCellDef="let element"> {{element.comments}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element, let id = index">
                <button type="button" class="editBtn" (click)="setEditForm(element, id);">Edit</button>
                <button type="button" class="deleteBtn" (click)="onDelete(id)">Delete</button>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <form-component (formStatusEvent)="setFormStatus($event)" 
                    (taskEvent)="saveDataTasks($event)" 
                    [task]="task" 
                    [formStatus]="formStatus"></form-component>
    
</div>