<div class="tasks">
    <!-- <h3>{{}}</h3> -->

    <h4 (click)="test()">Tasks</h4>

    <!-- <table *ngIf="project.tasks.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Comment</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of project.tasks">
                <td class="name-task"> {{ task.name }}
                </td>
                <td> {{ task.description }} </td>
                <td> {{ task.comments }} </td>
                <td> <button >Edit</button><button>Delete</button>
                </td>
            </tr>
        </tbody>
    </table> -->

   
    
</div>