h1 {
  text-align: center;
  height: 4rem;
  background-color: rgb(62, 145, 145);
  padding-top: 1rem;
  margin: 0;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
}

.container .nav {
  width: 20%;
  min-height: 550px;
  background-color: rgb(207, 207, 207);
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

button {
  height: 40px;
  background-color: rgb(62, 145, 145);
  border: none;
  color: white;
  margin-bottom: 15px;
  font-size: 18px;
}

button:hover {
  transform: scale(1.1, 1.1);
}
