.title-task {
  margin-top: 25px;
  color: rgb(57, 117, 117);
  text-align: center;
}

#btnSave,
#btnCancel {
  width: 45%;
  margin: 5px;
  padding: 8px;
  background-color: rgb(121, 173, 173);
  border-radius: 2px;
  border: none;
  color: white;
}

#btnSave:hover,
#btnCancel:hover {
  transform: scale(1.1, 1.1);
}

#btnSave {
  margin-top: 15px;
  margin-right: 15px;
}

#btnCancel {
  margin-left: 10px;
  background-color: rgb(209, 179, 115);
}

.formInputs {
  display: flex;
  flex-direction: column;
}

.mat-table {
  padding-right: 20px;
}
